:local {
  .container {
    
    text-align: center;
    h2 {
      font-size: 5rem;
    }
    a {
      font-size: 1.4rem;
    }
    .term-container {
      height: 100%;
      position: relative;
    }
  }
}