:local {
  .container {
    
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    h2 {
      padding: 10px;
      margin: 0;
      font-size: 2.5rem;
      color: #cacadd;
    }
    a {
      font-size: 1.4rem;
    }
    button {
      min-width: 60px;
      padding: 5px;
      background: none;
      border: solid 1px #ccc;
      outline: none;
      color: #ccc;
      cursor: pointer;
      &:hover {
        color: #09c;
      }
    }
    .term-container {
      flex: 1;
    }

    .log-message {
      background: #555;
      height: 120px;
      color: #aaa;
    }
  }
}