.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  color: #555;
  padding: 40px 20px;
  text-align: center;
  i {
    font-size: 128px;
  }
}

.message {
  text-align: center;
  font-weight: 100;
  font-size: 26px;
}

.input-wrapper {
  width: 100%;
}

.input {
  display: block;
  width: 90%;
  max-width: 650px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: solid 2px #888;
  margin: auto;
  height: 60px;
  line-height: 60px;
  font-size: 45px;
  color: #aaa;
  letter-spacing: 20px;
  text-align: center;
  transition: all ease 400ms;
  &:focus {
    border-bottom-color: #09c; 
  }
}

.subActions {
  text-align: center;
}