.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header {
  width: 100%;
  height: 40px;
  position:fixed;
  top: 60px;
}

.PageTitle {
  height: 40px;
  margin: 0 0 20px 40px;
  font-size: 32px;
}

.arrowBack {
  width: 36px;
  height: 36px;
  margin-right: 20px;
  border-radius: 100%;
  border-style: none;
  cursor: pointer;
}

.profileContainer {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto; 
}
.profile {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 5px 12px;
  background-color:  rgba(66, 58, 58, 0.96);
  vertical-align: top;
}
.profileIcon {
  width: 100%;
  height: 140px;
  text-align: center;
  position: relative;
  .actions {
    opacity: 0;
    transition: all ease 400ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    background-color: rgba(120, 120, 120, 0.3);
    & > div {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      i {
        color: #ccc;
        display: block;
        font-size: 60px;
        transition: all ease 400ms;
      }
      &:hover {
        box-shadow: 0 0 5px 2px rgba(140, 140, 140, 0.5);
        i {
          color: #cbf;
        }
      }
    }
  }
  i {
    transition: all ease 400ms;
    font-size: 140px;
  }
  &:hover {
    & > i {
      transform: scale(1.1);
      filter: blur(10px);
    }
    .actions {
      opacity: 1;
    }
  }

}


.profileInfo {
  height: 30px;
  padding-left: 12px;
  line-height: 30px;
  color: #c4c1c1;
}

.btnGroup {
  width: 90%;
  height: 60px;
  margin: 50px auto 0px auto;
  position: fixed;
  bottom: 25px;
}

.NavBtn {
  width: 30%;
  height: 100%;
  margin: 0 10px;
  background-color: rgb(37, 30, 25);
  border: none;
  color: #c4c1c1;
  cursor: pointer;
  outline: none;
  transition: 300ms background-color;
}

.NavBtn:hover {
  background-color: rgba(117, 117, 121, 0.815);
}

.NavBtn i {
  font-size: 60px;
}