.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.stackHost {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.title {
  height: 40px;
  display: flex;
  // native drag area
  //-webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgb(47, 40, 30);
  text-align: center;
  i {
    line-height: 40px;
  }
}

.appIcon {
  height: 40px;
  width: 40px;
}

.titleContainer {
  // flex: 1;
  width: calc(100% - 200px);
}

.appControl {
  display: flex;
  width: 160px;
  & > div {
    position: relative;
    width: 40px;
    transition: all ease 400ms;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #aaa;
    i {
      line-height: 40px;
    }
    &::after {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      bottom: -19px;
      font-size: 16px;
      line-height: 15px;
      right: 0;
      z-index: 1;
      transition: inherit;
      background-color: rgba(220, 220, 220, 0.3);
      padding: 1px;
      border-radius: 2px;
    }
    &:hover {
      background-color: rgba(220, 220, 220, 0.3);
      &::after {
        opacity: 1;
      }
    }
  }
}

.dragIcon {
  // native drag area
  -webkit-app-region: drag;
  cursor: move;
  &::after {
    content: 'move';
  }
}

.maxIcon {
  &::after {
    content: 'maximize';
  }
}

.minIcon {
  &::after {
    content: 'minimize';
  }
}

.closeIcon {
  &::after {
    content: 'close';
  }
}

.body {
  width: 100%;
  position: relative;
  height: calc(100% - 40px);
  z-index: 0;
}

