// Title bar arrranges titles of all active headers
// size of title bar is of 40px in height

.title {
  width: 100%;
  height: 40px;
  //text-align: center;
  position: relative;
  padding-right: 40px;
}
.tabContainer {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 40px;
}
.tabContainer::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.tabContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(241, 237, 237, 0.76);
}
.tabContainer::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.863);
}

.tab {
  min-width: 150px;
  flex: 1;
  transition: all ease 400ms;
  padding:0 5px 0 5px;
  line-height: 40px;
  width: auto;
  cursor: pointer;
  & + .tab {
    border-left: solid 1px #343;
  }
}

.addBtn {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease 400ms;
  &:hover {
    background-color: rgba(220, 220, 220, 0.3);
  }
}

.close {
  //display: inline-block;
  //height: 40px;
  right: 0px;
  float: right;
  cursor: pointer;
  display: none;
}

.close:hover {
  color: #463e61;
}

.slideBar {
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: #fff;
}